Options FollowSymLinks
RewriteRule (.*) /cgi-bin/hello2.cgi$1 [L]
ErrorDocument 404 /cgi-bin/hello404.cgi
ErrorDocument 500 /cgi-bin/helloerr.cgi
AddHandler cgi-script .cgi
Options +ExecCGI
allow from all
